* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  overflow-y: hidden;
}

.right-container {
  width: 50vw;
  height: 100vh;
 
  .right-inner {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.left-container {
  width: 50vw;
  height: 100vh;

  transition-timing-function: linear;
  transition: all 0.7s ease-out;

  .left-inner {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100vh;
    }
  }
}
